# Variables de entorno base
DB_HOST=db
DB_PORT=5432
POSTGRES_DB=reservasdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme
MAILEROO_API_KEY=tu_api_key_de_maileroo
MAILEROO_FROM_EMAIL=reservas-noreply@example.com
