<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Reservas</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen p-8">
   <div class="flex justify-between items-center mb-4">
  <h1 class="text-2xl font-bold mb-4">Lista de Reservas</h1>

  <div class="flex gap-2">
    <!-- Botón Crear -->
    <button
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      onclick="abrirModal()">
      Crear
    </button>

    <!-- Botón PDF -->
    <a
      href="{% url 'export_reservas_to_pdf' %}"
      target="_blank"
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
      Ver PDF
    </a>

    <!-- Botón JSON -->
    <a
      href="{% url 'export_reservas_to_json' %}"
      target="_blank"
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-500">
      Ver JSON
    </a>
  </div>
</div>

  <table class="min-w-full bg-white border rounded-lg shadow">
    <thead>
      <tr class="bg-blue-600 text-white">
        <th class="px-4 py-2">ID</th>
        <th class="px-4 py-2">Estado</th>
        <th class="px-4 py-2">Usuario</th>
        <th class="px-4 py-2">Recurso</th>
        <th class="px-4 py-2">Fecha Inicio</th>
        <th class="px-4 py-2">Fecha Fin</th>
      </tr>
    </thead>
    <tbody id="reservasBody"></tbody>
  </table>


  <!--Modal-->
  <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden" id="modal">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md relative">
        <h2 class="text-xl font-bold mb-4" id="titulo-modal">Nuevo</h2>
        <form id="form">
            <input id="id_usuario" value="{{id_usuario}}" type="hidden">
            <input id="id_reserva" type="hidden">



            <select class="w-full mb-3 p-2 border rounded" id="estado_reserva" required>
                <option value="">Seleccione un estado para la reserva </option>
                <option value="PENDIENTE">Pendiente</option>
                <option value="CONFIRMADA">Confirmada</option>
                <option value="CANCELADA">Cancelada</option>
                <option value="FINALIZADA">Finalizada</option>
            </select>

            <input class="w-full mb-3 p-2 border rounded" id="fecha_inicio" placeholder="Fecha Inicio" required type="datetime-local">
            <input class="w-full mb-3 p-2 border rounded" id="fecha_fin" placeholder="Fecha fin" required type="datetime-local">
            <select class="w-full mb-3 p-2 border rounded" id="id_recurso" required> 
                <option value="">Seleccione un recurso</option>
                {% for recurso in recursos %}
                    <option value="{{ recurso.id_recurso }}">{{ recurso.nombre_recurso }}</option>
                {% endfor %}
            </select>

            
            <div class="flex justify-end space-x-2">
                <button class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400" onclick="cerrarModal()" type="button">
                    Cancelar
                </button>
                <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>


  <script>
    const API_URL_INV = "/api/reservas/";
    const token = sessionStorage.getItem('accessToken');
    if (!token) window.location.href = '/login/';

    async function cargarReservas() {
      try {
        const response = await fetch('/api/reservas/', {
          headers: { 'Authorization': `Bearer ${token}` }
        });

        if (!response.ok) {
          throw new Error('Error al cargar las reservas.');
        }

        const data = await response.json();
        const tbody = document.getElementById('reservasBody');
        tbody.innerHTML = ''; // limpiar tabla

        data.forEach(reserva => {
          const row = document.createElement('tr');
          row.innerHTML = `
            <td class="border px-4 py-2">${reserva.id_reserva}</td>
            <td class="border px-4 py-2">${reserva.estado_reserva}</td>
            <td class="border px-4 py-2">${reserva.usuario?.nombre || ""}</td>
            <td class="border px-4 py-2">${reserva.recurso?.nombre ||""}</td>
            <td class="border px-4 py-2">${reserva.fecha_inicio}</td>
            <td class="border px-4 py-2">${reserva.fecha_fin}</td>
            <td class="px-4 py-2 border">
              <div class="flex flex-col sm:flex-row gap-2">
                  <button class="text-blue-500 hover:underline" onclick="abrirModal('${reserva.id_reserva}')">Editar</button>
                  <button class="text-red-500 hover:underline" onclick="eliminar(${reserva.id_reserva})">Eliminar</button>
              </div>
            </td>
          `;
          tbody.appendChild(row);
        });
      } catch (error) {
        console.error(error);
        alert('No se pudieron cargar las reservas.');
      }
    }

    cargarReservas();

    async function abrirModal(id = null) {
    document.getElementById('form').reset();
    document.getElementById('id_recurso').value = '';
    document.getElementById('titulo-modal').textContent = id !== null ? "Editar" : "Nuevo";


    if (id) {
        const loader = document.getElementById('loader');
        loader.classList.remove('hidden');
        await refreshToken();
        const token = sessionStorage.getItem("accessToken");
        await fetch(API_URL_INV + id + '/', {
            method: 'GET',
            headers: {
                "Authorization": `Bearer ${token}`,
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
            .then(res => res.json())
            .then(data => {
                document.getElementById('estado_reserva').value = data.estado_reserva ; 
                document.getElementById('fecha_inicio').value = data.fecha_inicio;
                document.getElementById('fecha_fin').value = data.fecha_fin;
                document.getElementById('id_recurso').value = data.id_recurso;
                document.getElementById('id_reserva').value = data.id_reserva;
                document.getElementById('modal').classList.remove('hidden');
                loader.classList.add('hidden');
            });
    }else{
       document.getElementById('modal').classList.remove('hidden');
    }
}
function cerrarModal() {
    document.getElementById('modal').classList.add('hidden');
}

document.getElementById('form').addEventListener('submit', async function (e) {
    e.preventDefault();
     const loader = document.getElementById('loader');
    loader.classList.remove('hidden');
    await refreshToken();
    const token = sessionStorage.getItem("accessToken");
    const id = document.getElementById('id_reserva').value;


    const data = {
        estado_reserva: document.getElementById('estado_reserva').value,
        fecha_inicio: document.getElementById('fecha_inicio').value,
        fecha_fin: document.getElementById('fecha_fin').value,
        id_recurso: document.getElementById('id_recurso').value,
        id_user: document.getElementById('id_usuario').value
    };

    fetch(API_URL_INV + (id ? `${id}/` : ''), {
        method: id ? 'PUT' : 'POST',
        headers: {
            'Content-Type': 'application/json',
            "Authorization": `Bearer ${token}`,
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify(data)
    }).then(res => res.json())
        .then((res) => {
            if (res.id_recurso) {
                cerrarModal();
                loader.classList.add('hidden');
                window.location.reload();
            }
        });
});

// Eliminar
async function eliminar(id) {
    if (confirm("¿Seguro que deseas eliminar este registro?")) {
         const loader = document.getElementById('loader');
         loader.classList.remove('hidden');
        await refreshToken();
        const token = sessionStorage.getItem("accessToken");
        fetch(API_URL_INV + id + '/', {
            method: 'DELETE', headers: {
                "Authorization": `Bearer ${token}`,
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
            .then(() => {
                loader.classList.add('hidden');
                window.location.reload()
            });
    }
}
  </script>
</body>
</html>
